<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SanweiDataMapper">
	<!-- 字段 -->
	<sql id="Field">
		id,
		waterlevel,
		flow,
		terraindata,
		address,
		time
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},
		#{waterlevel},
		#{flow},
		#{terraindata},
		#{address},
		#{time}
	</sql>
	
	<!--表名 -->
	<sql id="tableName">
		sanweidata
	</sql>
	<!-- 列出所有-->
	<select id="getSanweiData" parameterType="String" resultType="SanweiData">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		  where  address="lyh1"   and  time>= NOW() - interval 1 minute; 
		  <!-- time >= NOW() - interval 1 day;  -->
	</select>
</mapper>